################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/BecomexRobo/.vs/BecomexRobo/v17
/BecomexRobo/.vs/BecomexRobo/FileContentIndex
/BecomexRobo/ApiBecomexRobo/obj
/BecomexRobo/.vs/BecomexRobo/config
/BecomexRobo/ApiBecomexRobo/bin/Debug/net6.0
/BecomexRobo/.vs
